<% provide(:title, 'Students Index') %>
<h1>Students</h1>

<table class="table table-striped table-bordered table-condensed" align='center' cellpadding='5'>
  <tr>
	<th class='center_content' width='10%'>Student URN</th>
    <th class='center_content'>Full Name</th>
    <th class='center_content'>Email</th>
	<th class='center_content'>Degree</th>
	<th class='center_content'>Department</th>
	<th class='center_content'>Course</th>
	<th class='center_content' width='5%'></th>
  </tr>
<% if @students.present? %>
<%= render @students%>
<%end%>
</table>
<ul class='nav nav-pills'>
<li class="active">
<%= link_to "Create a student", new_admin_student_path %></li></ul>

