<% provide(:title, @aprofile.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h2>Name: </h2></br>
     		<%= @aprofile.name%></br>

		 	<%= link_to "Edit your profile", edit_aprofile_path(@aprofile.id)%>
      
    </section>
  </aside>
</div>