<% provide(:title, @aprofile.name) %>

<div class="row" >

			<b>University Number:</b>
			<%= @aprofile.urn%><br/>
	
		    <b>Full Name:</b>
			<%= @aprofile.name%><br/>
	
			<b>Department:</b>
			<%= @aprofile.department.title %><br/>
	
	<%= link_to "Edit your profile", edit_aprofile_path(@aprofile.id)%>
</div>