
<p>
	<tr>
	<td><%= department.title %></td>
</p>	
	<td class='center_content'><%= link_to 'Show', admin_department_path(department.id)%></td>
	<td class='center_content'><%= link_to 'Edit', edit_admin_department_path(department.id) %></td>
	<td class='center_content'><%= link_to 'Delete', admin_department_path(department.id), :confirm => 'Are you sure?', :method => :delete %></td>