<% provide(:title, 'Create a department') %>
<h1>Create a department</h1>

<div class="row">
	<div class="span6 offset3">
<%= form_for @department, :url => admin_departments_path do |f| %>

  <p><%= f.label :title, 'Department Title' %><br />
  <%= f.text_field :title %></p>

  <p><%= f.submit "Submit", class: "btn btn-large btn-primary" %></p>

<% end %>
</div>
</div>