
	
	<%#= content_tag_for :li, choice do %>
	<tr>
	
		<td><%= choice.row_order %></td>
		<td><%= choice.project.title %></td>
	<%#end%>
	</tr>



	<%#= '1'%>
	<%#= choice.option1.title %>
<%#= sortable_element("choices", :url => sort_choices_path)%>
<%#= sortable_element :choices, :tag => 'ul',  :url => sort_choices_path%>
<%#= choice.move_to_bottom %>
<div>
<ul class='nav nav-pills'>	
<li class="active"><%#= link_to 'Edit', edit_choice_path(choice.id) %></li>
</ul>
</div>
	
