	<tr>
	<td><%= choice.rank %></td>
	<td><%= choice.project.title %></td>
	
	
<%#= link_to 'Edit', edit_choice_path(choice.id) %> 
	<%#= link_to 'Destroy', choice_path(choice.id), :confirm => 'Are you sure?', :method => :delete %>
	</tr>
