<% provide(:title, 'Edit Choices') %>
<h1>Edit Choices</h1>
<%= render 'form' %>
<div class="row">
<div class="span6 offset3">
<ul class='nav nav-pills'>
<li class="active"><%= link_to 'Back', choices_path %></li></ul>
</div>
</div>