<% provide(:title, @sprofile.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h2>	Name:</h2></br>
		 <%= @sprofile.name%></br>
		 
		<%= link_to "Edit your profile", edit_sprofile_path(@sprofile.id)%>
     
    </section>
  </aside>
</div>