<footer class="footer">
  <small>
    <%= link_to "Project Allocation", root_path %>
    by Moroj Alsulaimani
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>